.base {
  margin-right: 10px;
  margin-left:  10px;
  width: 300px;
}

.head {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ddd;
  .name {
    width: 80%;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
  }
  .close-button {
    width: 10%;
  }
}
